<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
  <title>Yummy Burger</title>
</head>
<body>
<nav id="navbar-example2" class="navbar navbar-light bg-transparent d-flex justify-content-start w-20 mt-8 ml-8">
  <img src="assets/images/logo.png">
</nav>
<h1 class="text-black font-bold text-6xl text-center">Menu</h1>
<div class="flex mt-12">
  <div class="w-1/2">
    <img class="w-4/5 mx-auto" src="/assets/images/bacon-burger.png">
  </div>
  {{{ body }}}
</div>
<script src="/assets/js/burgers.js"></script>
</body>
</html>
